h1 {
    font-size: 50px;
    font-family: sans-serif;
    padding: 10px;
    margin: 0px;
    font-weight: bold;
    text-decoration: 0px;
    color: white;
    background-color: rgba(9, 9, 243, 0.692);
}

h2 {
    font-size: 30px;
    font-family: 'Verdana', sans-serif;
    padding: 0px;
    margin: ;
    font-weight: ;
    color: blue;
    background-color: transparent;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    padding: none;
    margin: 10px;
    color: rgb(32, 32, 32);
    background-color: none ;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: rgb(253, 128, 128);
    height: 100px;
    width: 100px;
}
